<html>
    <head>
        <title>기본 예제 테스트</title>
    </head>
    <body>
        <h1>이름</h1>
            <p> <%= name %></p>

        <form id="Form" action="/form" method="post">
            <table width="400">
                <tr>
                    <td>이름</td>
                    <td><input type="text" name="name" id="id" size="10" maxlength="10"></td>
                </tr>
                <tr>
                    <td>전송</td>
                    <td><input type="submit"></td>
                </tr>
            </table>
        </form>
    </body>
</html>